In [26]:
import pandas as pd
import numpy as np

## Find books

In [27]:
books = pd.read_pickle("Data/books_with_section.p")
#books["id"] = books["id"].astype(int)
books.dtypes

authors              object
categories           object
description          object
format               object
id                    int64
image-checksum       object
image-path           object
image-url            object
isbn10               object
isbn13               object
lang                 object
publication-date     object
title                object
url                  object
text                 object
Genre                object
class                 int64
section              object
shelf               float64
year                float64
dtype: object

In [29]:
students = pd.read_pickle("Data/students.p")
students

,student_id,password,total_time_spent,past_seats,past_books,current_seat,time_spent,email
0,123456,1234560,0,[],[],0,0,123456@unilibrary.com
1,123457,1234570,0,[],[],0,0,123457@unilibrary.com
2,123458,1234580,0,[],[],0,0,123458@unilibrary.com
3,123459,1234590,0,[],[],0,0,123459@unilibrary.com
4,123460,1234600,0,[],[],0,0,123460@unilibrary.com
...,...,...,...,...,...,...,...,...
95,123551,1235510,0,[],[],0,0,123551@unilibrary.com
96,123552,1235520,0,[],[],0,0,123552@unilibrary.com
97,123553,1235530,0,[],[],0,0,123553@unilibrary.com
98,123554,1235540,0,[],[],0,0,123554@unilibrary.com
99,123555,1235550,0,[],[],0,0,123555@unilibrary.com

In [32]:
def search():
    """
    Start search process and log in
    """
    global studentid
    global filtered_books

    filtered_books = pd.DataFrame(columns= books.columns)

    studentid = int(input("Please enter your student ID."))
    password = int(input("Please enter your passwords."))

    if password == students.loc[students["student_id"] == studentid, "password"][0]:
        filters()
    else: 
        print("Student ID or password incorrect. Please try again.")
        search()

In [33]:
def filters():

    global filtered_books
    
    print("Please choose a filter.")
    print("You can choose between genre, year, title, and author or type 'stop' for end filtering.")

    f = input("Please enter the filter of your choice.").lower()

    if f == "genre":
        genre()
        filters()
    elif f == "year":
        year()
        filters()
    elif f ==  "title":
        title()
        filters()
    elif f == "author":
        author()
        filters()
    elif f == "stop":
        stop()
    else:
        print("Invalid entry.")
        filters()

In [34]:
def genre(): 
        """
        Filter for specific genre.
        """
        global filtered_books

        print("We have 8 genres:")
        print("""For Arts & Music enter Z, for Business, Economics & Industry enter X, 
            Engineering & Programming enter T, for Kids & Fiction enter Y,
            for Law & Crime enter U, for Medicine enter V,
            for Social Science and Teaching enter W and for Other enter S.""")

        genre = input("Please enter the letter of the genre of your choice.").upper()

        if genre in ["S", "T", "U", "V", "W", "X", "Y", "Z"]:
            g = books[books["section"] == genre]
            filtered_books = pd.concat([filtered_books, g])   
        else:
            print("Invalid entry.")
            genre()

In [35]:
def year():
    """
    Filter for specific publication year.
    """
    global filtered_books

    year = int(input("Please enter the year of publication."))
    
    if year in list(books["year"].unique()):
        y = books[books["year"] == year]
        filtered_books = pd.concat([filtered_books, y])
    
    else:
        print("Invalid entry.")
        year()

In [36]:
def title():
    """
    Ask for book title and give back best match and location.
    """
    global filtered_books

    title = input("Please enter a book title or choose for a word.").lower()

    books['title'] = books['title'].str.lower()
    t = books.loc[books['title'].str.contains(title)]
    filtered_books = pd.concat([filtered_books, t])

In [37]:
def author():
    """
    Filter for author name.
    """
    global filtered_books

    auth = input("Please enter the author's last name.").lower()

    books['authors'] = books['authors'].str.lower()
    a = books.loc[books['authors'].str.contains(auth)]
    filtered_books = pd.concat([filtered_books, a])

In [38]:
def stop():
    """
    Stop filtering and display best matching books.
    """
    global ids
    
    ids = list(filtered_books["id"].mode())
    column_names = ["title", "authors", "year", "Genre", "section", "shelf", "id", "description", "lang", "format"]
    ordered = books[column_names]
    
    final = pd.DataFrame(columns = column_names)
    for i in ids:
        xx = ordered.loc[ordered["id"]==i]
        final = pd.concat([final, xx])
    
    display(final)

    found_book()

In [39]:
def found_book():
    """
    Was the right book found?
    """    
    correct = input("Did you find the correct book?").lower()
    if correct == "yes":
        save_book()
    elif correct == "no":
        print("Please try again.")
        filters()
    else:
        print("Invalid entry. Please type yes or no.")
        found_book()

In [40]:
def save_book():
    """
    Save the book that was chosen to student dataframe
    """
    choice = int(input("Please enter the ID of the book of your choice."))
    
    if choice in ids:
        students.loc[students.student_id == studentid, "past_books"] = students.loc[students.student_id == studentid, "past_books"].append(choice)
    else:
        print("Invalid entry.")
        save_book()