## Student Database preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
students =  pd.read_excel("Data/students.xls")

In [12]:
students["email"] = students["student_id"].astype("str") +  "@unilibrary.com"

In [13]:
students["past_seats"] = np.empty((len(students), 0)).tolist()

In [14]:
students["past_books"] = np.empty((len(students), 0)).tolist()

In [15]:
students

,student_id,password,total_time_spent,past_seats,past_books,current_seat,time_spent,email
0,123456,1234560,0,[],[],0,0,123456@unilibrary.com
1,123457,1234570,0,[],[],0,0,123457@unilibrary.com
2,123458,1234580,0,[],[],0,0,123458@unilibrary.com
3,123459,1234590,0,[],[],0,0,123459@unilibrary.com
4,123460,1234600,0,[],[],0,0,123460@unilibrary.com
...,...,...,...,...,...,...,...,...
95,123551,1235510,0,[],[],0,0,123551@unilibrary.com
96,123552,1235520,0,[],[],0,0,123552@unilibrary.com
97,123553,1235530,0,[],[],0,0,123553@unilibrary.com
98,123554,1235540,0,[],[],0,0,123554@unilibrary.com
99,123555,1235550,0,[],[],0,0,123555@unilibrary.com

In [16]:
students.to_pickle("students.p")